.row
  .column.small-6.small-centered
    %h1
      Group field encryption (with hidden target)
    %form{action: "/post_form", method: "post", data:{encrypted_form: true}}
      %label{for: "name"} Name
      %input{name: "name", id: "name", data: {encrypt_source: true}, value: "John Doe"}

      %label{for: "email"} e-Mail-Address
      %input{name: "email", id: "email", data: {encrypt_source: true}, value: "john.doe@example.com"}

      %label{for: "body"} Body
      %textarea{name: "body", id: "body", data: { encrypt_source: true}}
        I just wanted to ...

      %input{type:"hidden", name:"content", data: {encrypt_target: true}}
      %input{type:"submit"}
