.row
  .column.small-6.small-centered
    %h1
      Use Cases
    %ul
      %li
        %a{:href => "/single"} Single field encryption
      %li
        %a{:href => "/group_with_hidden_target"} Group field encryption with dedicated hidden target
      %li
        %a{:href => "/group_with_input_target"} Group field encryption with input field target

